@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
:root {
    --azulclaro: #48D6ED;
    --azuloscuro: #337AB7;
    --azulnegro: #303342;
    --negro: #333333;
    --negro2: #000;
    --gris: #B2B3B3;
    --fondo: #FFFEFC;
    --verdeazul: #157A8A;
    --Magenta: #9C2759;
    --blanco: #fff;
    --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}


    
* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1,h2,h3,h4,h5 {
    font-family: 'Marcellus', serif;
}

 
nav {
    
    top:0;
    font-family: 'Marcellus', serif;
    font-size: 1.3em;
    position: fixed;
    width: 100%;
    z-index: 1;
} 

nav a {
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}   



.navbar-button {
    background-color: transparent;
    border: none;
    border-radius: 3px; 
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}

.logo{
    background-color: var(--negro2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}


.logo i{
    color: var(--blanco);
    font-size: 2rem;
}


.logo img{
    width: 40%;
    max-width: 200px;
}


.menu{
    background-color: rgba(1, 10, 52, 0.838);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}


.menu-hr{
    width: 90%;
    background-color: var(--blanco);
    justify-self: center;
}

.item{
padding: 1rem;
}
nav a{
    color: var(--blanco);
    text-decoration: none;
    text-align: center;
}
nav a:hover{
    background-color: #0B3860;
    
}
.navbar-button{
    background-color:transparent;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    padding: 0.5rem;
    font-family: 'Marcellus', serif;
    color: var(--blanco);
}


.menu .login {
    padding: 1rem;
    background-color: rgb(1, 10, 52, 0.838);
    border-radius: 4px;
} 




/*CARRUCEL*/

.container {
     width: 120%;
    position: relative;
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    border: solid #fff 2px;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.elements {

    text-align: center;
    margin-top: -2em;
    

}

.quadrate {
    cursor: pointer;
    height: 4px;
    width: 50px;
    margin: 0 2px;
    background-color: #717171;
    display: inline-block;
    transition: background-color 0.6s ease;
    border-radius: 2px;
}

.active,
.quadrate:hover {
    background-color: #fff;
}



/*INFOCARRUCEL*/

.text-slider{
    position: absolute;
    color: var(--blanco);
    top: 10.5em;
    background-color: rgba(0, 0, 0, 0.35);
    padding : 2.1rem;
    width: 70%;
    
 
}


/* bajo carricel*/

#info {
    display: flex;
    flex-direction: column;
    padding: 6em;
}

.info-text {
    width: 28em;
    align-self: center;
    font-size: 1.5em;
    margin-left: 4em;
}

.info-image img {
    width: 14em;
    margin-left: 11em;
    display: none;
}



/*FACTURE*/

#features {
    background: url(../img/bg-features.png);
    color: white;
    padding-top: 1rem;
    width: 120%;
}

.features-title {
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    
    min-width: 180px;
    max-width: 230px;
    margin: 0.8rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i {
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue {
    background-color: #00325eae;
}

.feature-black {
    background-color: rgba(0, 0, 0, 0.59);
}


/*SOY EL MAPA*/

#location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3.125rem;
    text-align: center;
    position: relative;
}

.location-tittle {
    color: var(--negro2);
    margin-left: 4.5em;
    font-size: 3em;
    padding: 1em;
}

.location-maps {
    width: 100%;
    padding: 1em;
}

.location-text {

    font-family: 'Marcellus', serif;
    font-size: 2em;
    justify-content: center;
    line-height: 2em;
    width: 20em;
    margin-left: 1em;


}

.location-text hr {
    width: 100%;
    border-color: var(--azulclaro);
    position: absolute;
    top: 90%;
    margin-left: 1em;
}

.mapa {
    width: 120%;
}

/*CARDS*/

.title-cards{
    font-family: 'Marcellus', serif;
    display: flex;
    color: var(--blanco);
    justify-content: center;
    font-size: 1.5em;
    background-color: var(--negro);
    padding-bottom: 7%;
    padding-top: 2%;
    width: 120%;
}

.card{
    position: relative;
    width: 95%;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: -4.5%;
    margin-bottom: 5%;
    left: 3%;

}

.card__perfil{
    width: 25%;
    padding: 20px;
    /* background-image: url(../img/Group\ 200.svg); */
    background: var(--degradado);
    background-size: cover;
    /* box-shadow: 1px 1px 5px rgb(201, 201, 201); */
    border-radius: 3px;
}

.card__nombre img{
    width: 24%;
    color: var(--blanco);
    margin-left: -75%;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-30deg);
    transition: all .3s; 
}

.card__descripcion p{
    color: var(--blanco);

}

.card__nombre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.nombre{
    position: relative;
    color: var(--blanco);
    font-family: 'Playfair Display', serif;
    top: -35%;
    left: 30%;
}

.icon{
   
    padding: 1%;
    font-size: 150%;

}


.icon1{
    color: var(--Magenta);
    font-size: 150%;
    padding: 1%;
}



.quadrate1 {
    cursor: pointer;
    height: 10px;
    width: 55px;
    margin: 0 2px;
    background-color: var(--negro);
    display: inline-block;
    border-radius: 1px;
}








/*Footer*/

footer {
    display: flex;
    margin-top: 2em;
    background-color: var(--negro);
    justify-content: space-around;
    width: 120%;
    height: 17em;
    padding: 50px 0;
}

footer article {
    width: 25%;
    color: #ffff;
    padding: 0 1em;
}



.iconos i {
    padding: 1em;
    font-size: 150%;
}

.footer-direccion {
    padding: 1em 0;

}



.politicas p {
    padding: 1em;
}



/*Resolución tablet*/
@media screen and (min-width: 768px){


    nav{
        display: flex;
        z-index: 1;
        width: 100%;
        }

    .logo img{
        width: 100%;
    }

    .logo i{
        display: none;
    }

    .menu{
        background-color: var(--negro2);
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    .menu-hr{
        display: none;
    }
    
    .item {
        margin: 0 1rem;
        align-self: center;
    }
    
    nav a {
        text-align: left;
    }
    
    nav a:hover {
        background-color: transparent;
        color: var(--azuloscuro);
    }
    
    .navbar-button {
        background-color: var(--azuloscuro);
        align-self: center;
    }
   
     .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .menu-hr{ /*ocultamos la barra de división*/
        display: none;
    }
    .navbar-button{
        background-color:var(--azuloscuro);
    }
    
    .container{
        width: 155.2%;
    }

    .text-slider{
        font-size: 1em;
        top: 25.2em;
    }

    #info {
        display: flex;
        
    }

    .info-text{
        margin-left: 10em;
        font-size: 28px;
        width: 36em;
    }

    .info-image img {
        width: 15em;
        display: flex;
        margin-left: 25em;
        margin-top: 3em;
    }

    #features {

        width: 155.2%;
    }

    .facture{
        display: flex;
        flex-direction: column;
    }

    .mapa{
        width: 155.2%;
    }

    .location-text{
        width: 40em;
    }
    
    .location-text hr {
        width: 28em;
        margin-left: 6em;
    }

    .title-cards{
        width: 155.2%;
    }

    footer{
        width: 155.2%;
    }

}


/*Resolución notebooks*/
@media screen and (min-width: 1024px){
      
    nav{
        display: flex;
        flex-direction: row; /*cambiamos la disposición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }

    
    .logo{
        padding: 1rem;
    }
    .logo img{
        width: 100%;
        max-width: 180px;       
    }
    .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
        display: none;
    } 
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }
    .menu-hr{ /*ocultamos la barra de división*/
        display: none;
    }
    .navbar-button{
        background-color:var(--azuloscuro);
    }       

    .container{
        width: 111.8%;
    }

    .text-slider{
        font-size: 1em;
        top: 18em;
    }

    
    #info {
        display: flex;
        flex-direction: column;
        
    }

    .info-text{
        font-size: 25px;
        width: 36em;
        margin-left: 2em;
    }

    .info-image img {
        width: 20em;
        display: flex;
        margin-left: 18em;
        margin-top: 3em;
    }

    #features {
        width: 111.8%;
    }
    
    .location-tittle{
        margin-left: 1em;
    }

    .location-text{
        
        margin-left: -4.5em;
    }

    .location-text hr {
        width: 28em;
        margin-left: 6em;
    }

    .mapa{
        width: 111.8%;
    }

    .title-cards{
        width: 111.8%;
    }

    footer{
        width: 111.8%;
    }


}

   


/*Resolución notebooks*/
@media screen and (min-width: 1308px){
    nav{
        display: flex;
        flex-direction: row; /*cambiamos la disposición de los elementos*/
        width: 100%;
        justify-content: space-between;
        background-color: var(--negro2);
    }

    
    .logo{
        padding: 1rem;
    }
    .logo img{
        width: 100%;
        max-width: 180px;       
    }
    .logo i{ /*ocultamos el ícono bars del menú hamburguesa*/
        display: none;
    } 
    .menu{
        background-color: var(--negro2);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .menu-hr{ /*ocultamos la barra de división*/
        display: none;
    }
    .navbar-button{
        background-color:var(--azuloscuro);
    }       

    .container{
        width: 100%;
    }

    .text-slider{
        font-size: 2em;
        top: 17.4em;
    }

    #info {
        display: flex;
        flex-direction: row;
        
    }

    .info-text{
        font-size: 30px;
        width: 36em;
        margin-left: 2em;
    }

    .info-image img {
        width: 20em;
        margin-left: 11em;
        margin-top: 3em;
    }

    #features {
        width: 99%;
    }
    
    .location-text hr {
        width: 28em;
        margin-left: 14.2em;
    }

    .mapa{
        width: 100%;
    }

    .title-cards{
        width: 100%;
    }

    footer{
        width: 100%;
    }
    
}

